* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: lato;
  font-style: normal;
}

.header {
  background-color: #222222;
  padding: 18px 0 19px;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logoImg {
  padding: 0 41px 0 0;
}

.headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.headerImg:hover {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.headerImg:not(:last-child) {
  padding: 0 33px 0 0;
}

.top {
  height: 764px;
  background-color: #F1E4E6;
}

.topContent {
  background: url(Img/manTop.png) no-repeat;
  height: 100%;
  background-position: -228px bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7% 5% 0;
}

.topText {
  width: 40%;
  border-left: 12px solid #F16D7F;
}

.topText h1 {
  padding: 0 0 0 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.bigName {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

.pinkName {
  color: #F16D7F;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.imgAccesories {
  margin: 30px 0 30px 0;
  width: 100%;
}

.nameCategory {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advertising {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}

.imgCategories {
  position: relative;
}

.feturedItems {
  padding: 66px 0 0 0;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

p {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.product {
  text-align: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin: 50px 0 0 0;
  max-width: 360px;
  background-color: #F8F8F8;
}

.card:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nameCard {
  padding: 25px 0 13px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.h4Card {
  text-decoration: none;
}

.price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding: 18px 0 20px 0;
}

.button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #F16D7F;
  border: 1px solid #FF6A6A;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
}

.browseAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0 100px 0;
}

.services {
  background-color: #222224;
  width: 100%;
}

.servicesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicesCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 103px 0 104px 0;
  max-width: 360px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h4Services {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  font-weight: 400;
}

.h4Car {
  padding: 28px 0 16px 0;
}

.h4Percent {
  padding: 19px 0 16px 0;
}

.h4Crown {
  padding: 25px 0 16px 0;
}

.writeUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 450px;
}

.writeUsImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  opacity: 0.7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.writeUsBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.writeUsLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px;
  padding: 86px 0 0 0;
}

.funny {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  font-weight: 400;
  padding: 32px 0 0 0;
}

.writeUsRight {
  max-width: 558px;
  padding: 150px 0 0 0;
}

.head3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  padding: 0 0 32px 0;
}

.subscribe {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

.yourMail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  padding: 7px 64px 6px 22px;
  background: #E1E1E1;
  border-radius: 25px 0 0 25px;
  border: none;
}

.email::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  font-weight: 400;
}

.email:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  font-weight: 400;
}

.email::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  font-weight: 400;
}

.email::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  font-weight: 400;
}

.submit {
  padding: 7px 7px 6px 8px;
  background: #F16D7F;
  border-radius: 0 25px 25px 0;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

footer {
  background-color: #222224;
  width: 100%;
}

.footerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 24px 0 23px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  margin: 0 7px 0 0;
  -ms-flex-item-align: center;
      align-self: center;
}

.logo:hover {
  background-color: #f16d7f;
}

.sign {
  color: #000000;
}

.sign:hover {
  color: #FFFFFF;
}

.namePage {
  height: 148px;
  background-color: #F8F3F4;
}

.namePageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.namePageH2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.namePageMenu:not(:last-child) {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.namePageMenu:last-child {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.filterMenuBox:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 0 14px 0;
  width: 100%;
}

.filterMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 28px;
}

.filterMenuLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.hiddenFilterH4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.filter {
  position: relative;
  cursor: pointer;
}

.filter :-webkit-details-marker {
  display: none;
}

.filter[open] .summary__filter {
  color: #F16D7F;
}

.filter[open] .filterMenuImg {
  fill: #F16D7F;
}

.hidden__details[open] .hiddenFilterHead {
  color: #F16D7F;
}

.hiddenFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  width: 360px;
  left: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px 16px 0 17px;
  left: -15px;
}

details summary {
  list-style-type: none;
}

.filterH4A {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.hidden__filter__summary {
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0 11px 11px;
  text-decoration: none;
  width: 100%;
  margin: 0 0 16px 0;
}

.hiddenFilterHead {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 8px 0 11px 11px;
  text-decoration: none;
  width: 100%;
  margin: 0 0 16px 0;
}

.hiddenFilterLi {
  list-style-type: none;
  padding: 8px 0 0 11px;
}

.hiddenFilterLi:first-child {
  padding-top: 8px;
}

.hiddenFilterLi:last-child {
  padding-bottom: 20px;
}

.hiddenFilterA {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filterMenuCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 26%;
}

.filterMenuImg {
  padding: 2px 0 0 10px;
  fill: #000000;
}

.filterMenuH4 {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px 0 96px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nextBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EBEBEB;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nextArrow {
  padding: 15px 15px 8px;
  color: #EBEBEB;
  text-decoration: none;
}

.nextP {
  padding: 4px 8px 0 8px;
  color: #EBEBEB;
  text-decoration: none;
}

.dedicatedPage {
  color: #EF5B70;
}

.ellipsis {
  color: #EBEBEB;
  padding-top: 3px;
}

.productBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 776px;
  width: 100%;
  margin: 0 auto;
  background-color: #F7F7F7;
  border: 0.5px solid #EAEAEA;
}

.productImg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.arrowsBox {
  width: 100%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows {
  background-color: rgba(42, 42, 42, 0.15);
  padding: 12px 17px;
}

.descriptionCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 601px;
  margin: -65px auto 0;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  border: 0.5px solid #EAEAEA;
}

.descriptionCardH3 {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding: 64px 0 12px;
  text-align: center;
}

.descriptionCardA {
  text-decoration: none;
}

.descriptionCardHRPink {
  margin: 0 540px;
  border: none;
  background-color: #EF5B70;
  height: 3px;
}

.descriptionCardH4 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-align: center;
  padding: 12px 0 48px;
}

.description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 0 auto;
  color: #5E5E5E;
  max-width: 555px;
}

.descriptionPrice {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding: 32px 0 65px;
  text-align: center;
}

.descriptionCardHRGrey {
  margin: 0 250px;
  border: none;
  background-color: #EAEAEA;
  height: 1px;
}

.descriptionCardFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 65px 0 49px;
}

.buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #FF6A6A;
  margin: 0 465px;
  background-color: #FFFFFF;
}

.buy:hover {
  cursor: pointer;
}

.buyImg {
  padding: 14px 23px 9px;
}

.buyText {
  padding: 14px 0 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.cardsBox {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 128px 0;
}

.cart__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 96px 0 0 0;
}

.products {
  max-width: 652px;
}

.product__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  width: 652px;
  position: relative;
}

.product__cart:first-child {
  margin: 0 0 40px 0;
}

.parameters {
  list-style-type: none;
  padding: 42px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.product__description {
  max-width: 390px;
  padding: 22px 0 0 31px;
}

.product__cart__h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}

.close__img {
  position: absolute;
  top: 28px;
  right: 22px;
}

.price__cart {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F26376;
}

.products__boottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__button {
  border: 1px solid #A4A4A4;
  padding: 17px 40px 16px 39px;
  margin: 72px 0 128px 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.delivery__h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 21px 0 0 0;
}

.delivery__input {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 12px 0 15px 17px;
  width: 359px;
  margin: 21px 0 0 0;
  border: 1px solid #A4A4A4;
}

.get_a_quote {
  border: 1px solid #A4A4A4;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  padding: 10px 14px 12px 15px;
  color: #4A4A4A;
  margin: 24px 0 58px 0;
  width: 105px;
}

.check__order {
  background-color: #F5F3F3;
  height: 214px;
}

.check__order hr {
  border: none;
  background-color: #E2E2E2;
  height: 1px;
  margin: 21px 42px 32px 43px;
}

.check__order a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 43px 16px 41px;
  margin: 17px 43px 42px 44px;
  background-color: #F26376;
}

.sub_total {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin: 39px 0 12px 218px;
}

.grand_total {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 0 21px 153px;
}

.total_price {
  margin: 0 0 0 20px;
  color: #F26376;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 359px;
}

.registration__left h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__entry__field {
  width: 100%;
  border: 1px solid #A4A4A4;
  padding: 12px 0 16px 17px;
  margin: 10px 0 10px;
}

.name {
  margin: 64px 0 10px;
}

.login__details {
  margin: 33px 0 10px;
}

.gender__button {
  margin: 31px 0 0 0;
}

.gender__female {
  margin: 0 0 0 20px;
}

.gender__button__text {
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  padding: 0 0 0 10px;
}

.check {
  zoom: 1.4;
  vertical-align: middle;
}

.registration__text__bottom {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding: 16px 0 39px;
}

.registration__button {
  cursor: pointer;
  background: #F16D7F;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 20px 16px 29px;
  border: none;
  margin-bottom: 96px;
  width: 167px;
}

.registration__button__arrow {
  padding: 0 0 0 20px;
}

.registration__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 652px;
  margin: 64px 0 0 0;
}

.registration__right h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.registration__right p {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 22px 0 21px;
}

.registration__right ul {
  list-style-type: none;
}

.registration__right ul li {
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 0 0 16px 0;
}

.perks__img {
  padding: 0 20px 0 0;
}
/*# sourceMappingURL=style.css.map */